@import url("https://fonts.googleapis.com/css2?family=Alata&family=Krona+One&family=Poppins&display=swap");

:root {
  --secondary-color: #b7eb8f;
  --accent-color: #08979c;
}

* {
  font-family: "Poppins";
  box-sizing: border-box;
  margin: 0;
}

header {
  padding: 24px 120px;
  box-shadow: 0 0.5px 8px gray;
}

#headerEco {
  font-family: "Krona One";
  color: var(--secondary-color);
}

#header-left h3 {
  font-family: "Krona One";
  margin-right: 72px;
  margin-bottom: 0;
}

#navbar {
  display: flex;
}

#header-left a {
  text-decoration: none;
  color: black;
  margin-right: 36px;
}

#invoice {
  margin: 60px 396px;
}

#content {
  box-shadow: 4px 8px 20px gray;
  padding: 48px 120px;
}

#content > div {
  margin-bottom: 36px;
}

#content p {
  margin: 0;
}

.rincian {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#detail-waste > p {
  margin-bottom: 12px;
}

#dataSampah {
  font-weight: bold;
  font-size: larger;
}

#for-button {
  margin-top: 60px;
}

#for-button a {
  padding: 12px 24px;
  background-color: var(--secondary-color);
  text-decoration: none;
  color: black;
}

#for-button a:hover {
  font-weight: bold;
  border: 2px solid var(--accent-color);
}

@media only screen and (max-width: 360px) {
  header {
    padding: 12px 24px;
  }

  #navbar {
    display: none;
  }

  #invoice {
    margin: 60px 12px;
  }

  #content {
    padding: 12px 24px;
  }
}
